*{
    box-sizing: border-box;
}

.container{
    border: 1px grey solid;
    width:100%;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.row{
    width: 100%;
    max-width: 893px;
    margin: 0 auto;
}

.paragraph{
    border: grey solid;
    width: 400px;
    height: 130px;
    margin-bottom: 24px;
    margin-right: 20px;
}

.box{
    border: grey solid;
    width: 400px;
    min-width: none;
    height: 438px;
}

.boxwrapper{
    display: flex;
    max-width: 400px;
    justify-content: space-between;
}

.box1{
    border: grey solid;
    height: 130px;
    width: 30%;

}